<div id="page">
<header>

	<div class="container">

		<nav class="navbar navbar-expand-lg navbar-light bg-light ">
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item active"><a class="nav-link" [routerLink]="['']">Accueil <span
								class="sr-only">(current)</span>
						</a></li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
							Apprenants
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" [routerLink]="['/apprenants']">Liste des apprenants</a>
							<a class="dropdown-item" [routerLink]="['unapprenant/:id']">Afficher un apprenant</a>
							<a class="dropdown-item" [routerLink]="['/addapprenant']">Ajouter un apprenant</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
							Formateurs
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" [routerLink]="['/formateurs']">Liste des formateurs</a>
							<a class="dropdown-item" [routerLink]="['/unformateur/:id']">Afficher un formateur</a>
							<a class="dropdown-item" [routerLink]="['/addformateur']">Ajouter un formateur</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
							Sessions
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" [routerLink]="['/sessions']">Liste des sessions</a>
							<a class="dropdown-item" [routerLink]="['unesession/:id']">Afficher une session</a>
							<a class="dropdown-item" [routerLink]="['/addsession']">Ajouter une session</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
							Specialités
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" [routerLink]="['/specialites']">Liste des spécialités</a>
							<a class="dropdown-item" [routerLink]="['/unespecialite/:id']">Afficher une specialité</a>
							<a class="dropdown-item" [routerLink]="['/addspecialite']">Ajouter une spécialite</a>
						</div>
					</li>

				</ul>

			</div>
		</nav>
	</div>
</header>
<main class="container"  id="content">
	<router-outlet></router-outlet>

</main>

<footer>
	<div class="container"  style="background-color: lightgrey; width: 150%; color: black; text-align: center">
		© 2019 Copyright Lucie Legendre
	</div>
</footer>
</div>