<div style="text-align:center">
    <br>
    <hr/>
    <h3>Saisir l'identifiant du formateur à afficher</h3>
    <hr/>
  
    <form class="form"  (ngSubmit)="afficher(id)" #getFormateurId="ngForm" action="getFormateurId()" method="POST">
     <label for="id"></label> 
      <input type="number"class="form-control" id="id" placeholder="Entrer ID" name="id" required [(ngModel)]="id"  >
    </form>
    <br>
    <button (click)="afficher(id)" type="submit"class="btn btn-success">OK</button>
  
  
    <br>
    <hr/>
    <h3>Formateur : {{formateur.nom}} {{formateur.prenom}}</h3>
    <br>
  </div>
   
  <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Identifiant</th>
          <th scope="col">Nom</th>
          <th scope="col">Prenom</th>
          <th scope="col">Age</th>
          <th scope="col">Salaire</th>
          <th scope="col">Session</th>
          <th scope="col">Specialite</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td>{{formateur.id}}</td>
          <td>{{formateur.identifiant}}</td>
          <td>{{formateur.nom}}</td>
          <td>{{formateur.prenom}}</td>
          <td>{{formateur.age}}</td>
          <td>{{formateur.salaire}}</td>
          <td>{{formateur?.session?.sujet}}</td>
          <td>{{formateur?.specialite?.libelle}}</td>
    </tr>
    </tbody>
  
  </table>